In [23]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle

In [13]:
df = pd.read_csv(r"C:\Users\shikh\sih25\crop_recommender\dataset\Crop_recommendation.csv")

In [14]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [15]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [16]:
X=df.iloc[:,0:-1]
Y=df['label']

In [17]:
X

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [18]:
Y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42,test_size=0.2)

In [20]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

# Encode Y_train (crop names) into numbers
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y_train_encoded = le.fit_transform(Y_train)

# Train classifier
clf = RandomForestClassifier()
clf.fit(X_train, Y_train_encoded)

# Predict
y_pred = clf.predict(X_test)

# Decode back to crop names
y_pred_labels = le.inverse_transform(y_pred)

In [21]:
y_pred

array([15, 21, 17, 17,  0, 12,  0, 13, 14, 10,  2,  4, 19,  8,  4, 19,  0,
       11, 17, 15,  5, 17, 16, 17,  3,  8, 14, 16, 18, 20, 19, 13,  8, 10,
        8,  2,  8,  3,  3,  9, 17, 12,  2, 11, 14, 11, 18,  4, 15, 11,  2,
        5,  7, 14,  5,  9,  6,  0,  1,  2, 21,  4, 10, 16, 17, 18, 16, 20,
       15, 18, 15,  4,  8,  1,  2, 17,  1,  6, 21, 16,  5,  3, 20, 13, 16,
       12,  5, 13,  2, 19, 11, 13,  6, 17, 18, 13,  9,  5,  2, 10,  4, 20,
       16, 15, 21,  9, 21,  1, 18, 13,  1,  8,  6, 19, 18,  3, 11,  4, 19,
       20, 18,  7,  2,  4,  3,  2,  4, 11,  1, 13,  1,  9, 19,  3,  4, 16,
       18,  1,  1,  0,  9, 15, 14, 13,  4, 11,  0,  4,  9, 13, 14, 10, 21,
       14, 18, 18, 18,  9, 11,  8,  3,  0, 16,  6, 20,  4,  7, 10, 21,  7,
        7,  2, 19,  3,  4, 11, 10,  7, 21,  8,  5,  5,  9,  8, 13,  9,  1,
        9,  4, 17, 17, 14, 12, 19, 21,  9, 11,  0,  2,  3,  7,  7,  1,  6,
       20, 19, 14,  1,  8, 14, 11,  3,  3,  3,  0, 20,  9, 17,  5,  2,  9,
       12, 12,  4, 17,  0,  3, 19,  3, 15,  0, 15, 15, 12, 12,  6,  4, 19,
       20, 15,  5, 17, 13, 11, 12, 15, 18, 14,  5,  7,  4,  6, 18, 20,  0,
       19,  5,  3,  6,  8, 12,  1, 17,  0,  3, 20, 18, 13, 14,  8, 19,  7,
       13,  8, 11,  4, 11,  3,  1,  8,  4,  8, 12, 15,  0,  1, 18,  2, 16,
        3, 21,  1,  0,  3,  5, 18, 16,  0,  4, 17, 21, 13, 17,  3, 19,  3,
       17, 10,  0, 19,  3, 12,  3, 19, 21,  9, 14, 15, 21,  9, 15, 12,  8,
        2,  3,  1,  2, 18, 17, 18, 14,  4,  6,  7,  0, 10,  1,  8,  0, 19,
        0, 14, 15,  5,  5, 18,  8,  9,  1, 11,  8, 11, 18, 12,  9, 19, 21,
        2, 11, 20, 13,  9, 12,  6, 17, 13,  6, 14, 16,  8,  2, 14,  5,  1,
       18, 17,  0, 19, 11, 12,  4,  0, 10,  8, 13, 10,  4,  2,  8, 14,  6,
       21,  0,  7,  4,  7, 21, 20, 12, 12,  5, 19,  1,  7,  8, 16,  6, 12,
       17, 15, 13,  8,  3, 13, 19, 21, 13,  6, 17, 21, 10, 20,  4, 13, 13,
       11, 20, 11,  4, 16, 19,  9, 21, 14,  2, 20, 20,  6,  6, 18])

In [22]:
y_pred_labels

array(['muskmelon', 'watermelon', 'papaya', 'papaya', 'apple', 'mango',
       'apple', 'mothbeans', 'mungbean', 'lentil', 'blackgram', 'coconut',
       'pomegranate', 'jute', 'coconut', 'pomegranate', 'apple', 'maize',
       'papaya', 'muskmelon', 'coffee', 'papaya', 'orange', 'papaya',
       'chickpea', 'jute', 'mungbean', 'orange', 'pigeonpeas', 'rice',
       'pomegranate', 'mothbeans', 'jute', 'lentil', 'jute', 'blackgram',
       'jute', 'chickpea', 'chickpea', 'kidneybeans', 'papaya', 'mango',
       'blackgram', 'maize', 'mungbean', 'maize', 'pigeonpeas', 'coconut',
       'muskmelon', 'maize', 'blackgram', 'coffee', 'grapes', 'mungbean',
       'coffee', 'kidneybeans', 'cotton', 'apple', 'banana', 'blackgram',
       'watermelon', 'coconut', 'lentil', 'orange', 'papaya',
       'pigeonpeas', 'orange', 'rice', 'muskmelon', 'pigeonpeas',
       'muskmelon', 'coconut', 'jute', 'banana', 'blackgram', 'papaya',
       'banana', 'cotton', 'watermelon', 'orange', 'coffee', 'chickpea',
       'rice', 'mothbeans', 'orange', 'mango', 'coffee', 'mothbeans',
       'blackgram', 'pomegranate', 'maize', 'mothbeans', 'cotton',
       'papaya', 'pigeonpeas', 'mothbeans', 'kidneybeans', 'coffee',
       'blackgram', 'lentil', 'coconut', 'rice', 'orange', 'muskmelon',
       'watermelon', 'kidneybeans', 'watermelon', 'banana', 'pigeonpeas',
       'mothbeans', 'banana', 'jute', 'cotton', 'pomegranate',
       'pigeonpeas', 'chickpea', 'maize', 'coconut', 'pomegranate',
       'rice', 'pigeonpeas', 'grapes', 'blackgram', 'coconut', 'chickpea',
       'blackgram', 'coconut', 'maize', 'banana', 'mothbeans', 'banana',
       'kidneybeans', 'pomegranate', 'chickpea', 'coconut', 'orange',
       'pigeonpeas', 'banana', 'banana', 'apple', 'kidneybeans',
       'muskmelon', 'mungbean', 'mothbeans', 'coconut', 'maize', 'apple',
       'coconut', 'kidneybeans', 'mothbeans', 'mungbean', 'lentil',
       'watermelon', 'mungbean', 'pigeonpeas', 'pigeonpeas', 'pigeonpeas',
       'kidneybeans', 'maize', 'jute', 'chickpea', 'apple', 'orange',
       'cotton', 'rice', 'coconut', 'grapes', 'lentil', 'watermelon',
       'grapes', 'grapes', 'blackgram', 'pomegranate', 'chickpea',
       'coconut', 'maize', 'lentil', 'grapes', 'watermelon', 'jute',
       'coffee', 'coffee', 'kidneybeans', 'jute', 'mothbeans',
       'kidneybeans', 'banana', 'kidneybeans', 'coconut', 'papaya',
       'papaya', 'mungbean', 'mango', 'pomegranate', 'watermelon',
       'kidneybeans', 'maize', 'apple', 'blackgram', 'chickpea', 'grapes',
       'grapes', 'banana', 'cotton', 'rice', 'pomegranate', 'mungbean',
       'banana', 'jute', 'mungbean', 'maize', 'chickpea', 'chickpea',
       'chickpea', 'apple', 'rice', 'kidneybeans', 'papaya', 'coffee',
       'blackgram', 'kidneybeans', 'mango', 'mango', 'coconut', 'papaya',
       'apple', 'chickpea', 'pomegranate', 'chickpea', 'muskmelon',
       'apple', 'muskmelon', 'muskmelon', 'mango', 'mango', 'cotton',
       'coconut', 'pomegranate', 'rice', 'muskmelon', 'coffee', 'papaya',
       'mothbeans', 'maize', 'mango', 'muskmelon', 'pigeonpeas',
       'mungbean', 'coffee', 'grapes', 'coconut', 'cotton', 'pigeonpeas',
       'rice', 'apple', 'pomegranate', 'coffee', 'chickpea', 'cotton',
       'jute', 'mango', 'banana', 'papaya', 'apple', 'chickpea', 'rice',
       'pigeonpeas', 'mothbeans', 'mungbean', 'jute', 'pomegranate',
       'grapes', 'mothbeans', 'jute', 'maize', 'coconut', 'maize',
       'chickpea', 'banana', 'jute', 'coconut', 'jute', 'mango',
       'muskmelon', 'apple', 'banana', 'pigeonpeas', 'blackgram',
       'orange', 'chickpea', 'watermelon', 'banana', 'apple', 'chickpea',
       'coffee', 'pigeonpeas', 'orange', 'apple', 'coconut', 'papaya',
       'watermelon', 'mothbeans', 'papaya', 'chickpea', 'pomegranate',
       'chickpea', 'papaya', 'lentil', 'apple', 'pomegranate', 'chickpea',
       'mango', 'chickpea', 'pomegranate', 'watermelon', 'kidneybeans',
       'mungbean', 'muskmelon', 'watermelon', 'kidneybeans', 'muskmelon',
       'mango', 'jute', 'blackgram', 'chickpea', 'banana', 'blackgram',
       'pigeonpeas', 'papaya', 'pigeonpeas', 'mungbean', 'coconut',
       'cotton', 'grapes', 'apple', 'lentil', 'banana', 'jute', 'apple',
       'pomegranate', 'apple', 'mungbean', 'muskmelon', 'coffee',
       'coffee', 'pigeonpeas', 'jute', 'kidneybeans', 'banana', 'maize',
       'jute', 'maize', 'pigeonpeas', 'mango', 'kidneybeans',
       'pomegranate', 'watermelon', 'blackgram', 'maize', 'rice',
       'mothbeans', 'kidneybeans', 'mango', 'cotton', 'papaya',
       'mothbeans', 'cotton', 'mungbean', 'orange', 'jute', 'blackgram',
       'mungbean', 'coffee', 'banana', 'pigeonpeas', 'papaya', 'apple',
       'pomegranate', 'maize', 'mango', 'coconut', 'apple', 'lentil',
       'jute', 'mothbeans', 'lentil', 'coconut', 'blackgram', 'jute',
       'mungbean', 'cotton', 'watermelon', 'apple', 'grapes', 'coconut',
       'grapes', 'watermelon', 'rice', 'mango', 'mango', 'coffee',
       'pomegranate', 'banana', 'grapes', 'jute', 'orange', 'cotton',
       'mango', 'papaya', 'muskmelon', 'mothbeans', 'jute', 'chickpea',
       'mothbeans', 'pomegranate', 'watermelon', 'mothbeans', 'cotton',
       'papaya', 'watermelon', 'lentil', 'rice', 'coconut', 'mothbeans',
       'mothbeans', 'maize', 'rice', 'maize', 'coconut', 'orange',
       'pomegranate', 'kidneybeans', 'watermelon', 'mungbean',
       'blackgram', 'rice', 'rice', 'cotton', 'cotton', 'pigeonpeas'],
      dtype=object)

In [24]:
import joblib

# Save
joblib.dump(clf, "crop_recommender.pkl")
joblib.dump(le, "label_encoder.pkl")

# Load later
clf = joblib.load("crop_recommender.pkl")
le = joblib.load("label_encoder.pkl")